// Values for final, published RSS feed.
var SOCIALFEEDRSSINFO = {
    title:      'RSS Feed Name',
    site_url:   'Your Site's Url,
    author:     'Author Name' 
};

// Key/Value store of EAN RSS campaigns for each hotel site.
var SITES = {
    feed1: {
        author: '', // Author for final processed RSS feed.
        eanRssFeed: '' // Unprocessed, incoming RSS feed link here.
    },
    feed2: {
        eanRssFeed: '',
        author: ''
    }
};

exports.SOCIALFEEDRSSINFO = SOCIALFEEDRSSINFO;
exports.SITES = SITES;